absl-py==1.0.0
aido-protocols-daffy==6.0.59
ale-py==0.7.3
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
base58==1.0.3
beautifulsoup4==4.7.1
black==22.1.0
cachetools==5.0.0
carnivalmirror==0.6.2
cbor2==5.4.2.post1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cloudpickle==2.0.0
coloredlogs==15.0.1
commonmark==0.9.1
coverage==6.3.1
cycler==0.11.0
dataclasses-json==0.5.6
decorator==4.4.2
dill==0.3.4
docker-pycreds==0.4.0
duckietown-gym-daffy==6.1.31
duckietown-serialization-ds1==1.0.20
duckietown-world-daffy==6.2.38
einops==0.4.0
executing==0.8.2
fonttools==4.29.1
freetype-py==2.2.0
frozendict==2.2.1
gitdb==4.0.9
gitpython==3.1.26
gltflib==1.0.12
google-auth-oauthlib==0.4.6
google-auth==2.6.6
grpcio==1.44.0
h5py==3.6.0
humanfriendly==10.0
idna==3.3
imageio-ffmpeg==0.4.5
imageio==2.14.1
importlib-metadata==4.10.1
importlib-resources==5.4.0
ipython==8.0.1
isaacgym==1.0rc3
jedi==0.18.1
jpeg4py==0.1.4
jsonschema==4.4.0
kiwisolver==1.3.2
kornia==0.6.3
legged-gym==1.0.0
lxml==4.7.1
markdown==3.3.6
marshmallow-enum==1.5.1
marshmallow==3.14.1
matplotlib-inline==0.1.3
matplotlib==3.5.1
morphys==1.0
moviepy==1.0.3
mypy-extensions==0.4.3
networkx==2.6.3
ninja==1.10.2.3
nose==1.3.7
numpy==1.22.1
oauthlib==3.2.0
opencv-python==4.5.5.62
ordered-set==4.1.0
oyaml==1.0
packaging==21.3
parso==0.8.3
pathspec==0.9.0
pathtools==0.1.2
pickleshare==0.7.5
pillow==9.1.0
pip==21.2.4
platformdirs==2.4.1
plotly==5.5.0
proglog==0.1.9
promise==2.3
prompt-toolkit==3.0.26
protobuf==3.19.4
psutil==5.9.0
pure-eval==0.2.2
py-cid==0.3.0
py-multibase==1.0.3
py-multicodec==0.2.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybase64==1.2.1
pycontracts3==3.0.2
pycparser==2.21
pygeometry-z6==2.1.4
pyglet==1.5.21
pygments==2.11.2
pyopengl==3.1.0
pyparsing==3.0.7
pyrender==0.1.45
pyrsistent==0.18.1
python-baseconv==1.2.2
python-dateutil==2.8.2
pyyaml==6.0
pyzmq==22.3.0
requests-oauthlib==1.3.1
requests==2.27.1
rich==11.1.0
rsa==4.8
rsl-rl==1.0.2
scipy==1.7.3
sentry-sdk==1.5.4
setuptools==59.5.0
shortuuid==1.0.8
six==1.16.0
smmap==5.0.0
soupsieve==2.3.1
speedrun==0.1
stack-data==0.1.4
stopit==1.1.2
submitit==1.4.1
svgwrite==1.4.1
tenacity==8.0.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.8.0
termcolor==1.1.0
tomli==2.0.0
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchmeta==1.8.0
torchvision==0.11.1+cu113
tqdm==4.62.3
traitlets==5.1.1
trimesh==3.9.43
typing-extensions==4.0.1
typing-inspect==0.7.1
urllib3==1.26.9
validate-email==1.3
varint==1.0.2
wandb==0.12.10
wcwidth==0.2.5
webcolors==1.11.1
werkzeug==2.1.1
wheel==0.37.1
wormulon==0.1.0
xtermcolor==1.3
yaspin==2.1.0
zipp==3.7.0
zuper-commons-z6==6.2.4
zuper-ipce-z6==6.1.2
zuper-nodes-z6==6.2.13
zuper-typing-z6==6.2.3